/* ---------------------------------------------------------------------
 Modern Styles
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

html {
  overflow-y: scroll;
  /* Always show a vertical scrollbar, even when there is no scrolling */ }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ---------------------------------------------------------------------
 HTML5 Element Reset
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

audio, canvas, video, progress, picture {
  display: inline-block; }

template {
  display: none; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

body {
  background: url(../img/bg-tile-light.jpg);
  font: 16px/1.2 SansRegular, Arial, "Helvetica Neue", Helvetica, sans-serif; }

a {
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: underline; }

@font-face {
  font-family: 'SansLight';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype'); }

@font-face {
  font-family: 'SansRegular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'); }

@font-face {
  font-family: 'SansBold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype'); }

@font-face {
  font-family: 'SansSemibold';
  src: url('../fonts/OpenSans-Semibold.ttf') format('truetype'); }

@font-face {
  font-family: 'SansExtraBold';
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'); }

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype'); }

@font-face {
  font-family: "icon";
  src: url("../fonts/icon.eot");
  src: url("../fonts/icon.eot#iefix") format("embedded-opentype"), url("../fonts/icon.woff") format("woff"), url("../fonts/icon.ttf") format("truetype"), url("../fonts/icon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ---------------------------------------------------------------------
 Button styles
------------------------------------------------------------------------ */
.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 1px;
  background: #a0a0a0;
  color: #ffffff;
  font-family: SansRegular, Arial, "Helvetica Neue", Helvetica, sans-serif; }

.btn:hover {
  cursor: pointer;
  background: #868686; }

.btn:active {
  background: #606060; }

.btn_clear, .btn_clear:hover, .btn_clear:active {
  background: transparent; }

/* ---------------------------------------------------------------------
 Content Styles
------------------------------------------------------------------------ */
.content-centered {
  text-align: center; }

/* ---------------------------------------------------------------------
 Counter styles
------------------------------------------------------------------------ */
.counter {
  display: inline-block;
  padding: 8px 13px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-family: SansBold; }

.counter_green {
  background: #5cb85c; }

.counter_yellow {
  background: #f0ad4e; }

.counter_red {
  background: #d9534f; }

/* ---------------------------------------------------------------------
 Modern Styles
------------------------------------------------------------------------ */
.error {
  width: 640px;
  padding: 15px;
  border: 2px solid #d9534f;
  border-radius: 5px;
  margin: 0 auto;
  background: rgba(217, 83, 79, 0.2);
  text-align: center; }

/* ---------------------------------------------------------------------
 Form styles
------------------------------------------------------------------------ */
.form input[type=text], .form select {
  width: 300px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: SansRegular, Arial, "Helvetica Neue", Helvetica, sans-serif; }

.inputError {
  border: 2px solid #d9534f; }

/* ---------------------------------------------------------------------
 Header styles
------------------------------------------------------------------------ */
.hdg {
  font-family: SansSemibold, Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: capitalize; }

.hdg_1 {
  font-size: 32px; }

.hdg_2 {
  font-size: 24px; }

.hdg_3 {
  font-size: 18px; }

.hdg_4 {
  font-size: 14px; }

.mix-hdg_caps {
  text-transform: uppercase; }

.mix-hdg_centered {
  text-align: center; }

.mix-hdg_extraBold {
  font-family: SansExtraBold, Arial, "Helvetica Neue", Helvetica, sans-serif; }

/* ---------------------------------------------------------------------
 Icon styles
------------------------------------------------------------------------ */
[class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:after {
  font-family: icon;
  font-size: 20px;
  font-style: normal; }

.icon-check:before {
  content: "\e000"; }

.icon-check_voted {
  color: #5cb85c; }

.icon-check_noVote {
  color: #d3d3d3; }

.icon-check_noVote:hover {
  color: #5cb85c; }

.icon-check_noVote:active {
  color: #469d44; }

/* ---------------------------------------------------------------------
 isHidden styles
------------------------------------------------------------------------ */
.isHidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden; }

/* ---------------------------------------------------------------------
 list styles
------------------------------------------------------------------------ */
.list_centered {
  text-align: center; }

.list > * {
  padding: 5px 0; }

/* ---------------------------------------------------------------------
 Masthead styles
------------------------------------------------------------------------ */
.masthead {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background: url(../img/bg-tile-dark.png);
  color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(31, 31, 31, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .masthead:before, .masthead:after {
    content: " ";
    display: table; }
  .masthead:after {
    clear: both; }

.masthead-hd {
  float: left; }

.masthead-hd a {
  color: #ffffff; }

.masthead-hd a:hover {
  text-decoration: none; }

.masthead-hd-sub {
  font-family: Roboto, "Lucida Bright", Georgia, serif; }

.masthead-nav {
  float: right; }

.masthead-nav a {
  color: #ffffff; }

.masthead-nav > * > * {
  display: inline-block; }

.masthead-nav > * > * + * {
  padding-left: 25px; }

/* ---------------------------------------------------------------------
 Shelf styles
------------------------------------------------------------------------ */
.shelf {
  margin-bottom: 10px; }

.shelf_1 {
  margin-bottom: 15px; }

.shelf_2 {
  margin-bottom: 20px; }

.shelf_3 {
  margin-bottom: 25px; }

.shelf_4 {
  margin-bottom: 30px; }

.shelf_5 {
  margin-bottom: 35px; }

/* ---------------------------------------------------------------------
 Split styles
------------------------------------------------------------------------ */
.split {
  width: 49%;
  display: inline-block;
  vertical-align: top; }

/* ---------------------------------------------------------------------
 Table styles
------------------------------------------------------------------------ */
.table {
  width: 100%;
  border: 2px solid #666666; }

.table thead, .table tr {
  border-bottom: 1px solid #d3d3d3; }

.table th, .table td {
  padding: 5px;
  text-align: center; }

.table th {
  font-family: SansSemiBold; }

/* ---------------------------------------------------------------------
 Vote Counter Container - voteBox styles
------------------------------------------------------------------------ */
.voteBox {
  display: block;
  position: absolute;
  top: 115px;
  right: 20px;
  text-align: center; }

.wrapper {
  padding: 0 20px; }
